#main-title{
    color:saddlebrown;
    text-align:center;
}
#intro{
    color:darkblue;
}
.song-name{
    color:deeppink;
    font-size: 15px;
    font-family: Arial;
}
.favorite-song{
    color:indigo;
}
.section-title{
    color:darkgreen;
    font-size: 15px;
    font-family: Arial;
}
.highlight{
    color:darkcyan
}
div{
    border: 1px solid black;
}
